<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SmtpServerHost" value="smtp.gmail.com" />
    <add key="SmtpServerPort" value="587" />
    <add key="SmtpServerUserName" value="jwot.9313@gmail.com" />
    <add key="SmtpServerPassword" value="Joiner0826049313" />
    <add key="NombreCentro" value="Centro de prueba" />
    <add key="CorreoCentro" value="wilmertavarez1313@gmail.com" />
    <add key ="DiasParaEnviarMails" value="1,5,30" />
  </appSettings>
</configuration>